<!DOCTYPE html>
<html>
<head>
    <title>ANPR Dashboard</title>
</head>

<body>

    <h1>🚗 ANPR Dashboard</h1>

    <table border="1" cellpadding="10">

        <tr>
            <th>Plate</th>
            <th>Time</th>
            <th>Source</th>
            <th>Image</th>
        </tr>

        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>
                <img src="{{ row[3] }}" width="150">
            </td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>